{% extends 'templates/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/how-it-works.css' %}">
    <meta charset="UTF-8">
    <title>How It Works</title>
</head>
<body>
    <h1 class="mt-">How It Works</h1>
    <hr class="mt-0 mb-4">

    <article id="article-wrapper">

        <h2 id="segment-header">Overview</h2>

        <p id="paragraph-wrapper">
            The Litterbug script is built using the <a href="http://zulko.github.io/moviepy/">MoviePy</a> and
            <a href="https://github.com/linuxlewis/channels-api">Channels API</a>
            as well as <a href="https://github.com/ytdl-org/youtube-dl">YouTube</a>, <a href="https://github.com/Giphy/giphy-python-client">Giphy</a>,
            <a href="https://github.com/momozor/python-pixabay">Pixabay</a>, and <a href="https://github.com/MTG/freesound-python">Freesound</a> APIs.
            The open source code is available <a href="https://github.com/nkelton/Project-Litter-Bug">here</a>.
        </p>

        <h2 id="segment-header">Process</h2>

        <h4 id="sm-segment-header">Phase I - Download</h4>

        <p id="paragraph-wrapper">
           The script begins by downloading content from the aforementioned APIs.
            It searches for content from these services by generating random search terms for each service.
            The number of content downloaded is also randomly selected within a defined range.
        </p>

        <h4 id="sm-segment-header">Phase II - Randomization</h4>

        <p id="paragraph-wrapper">
            Once all the content has been downloaded, the script begins iterating through the downloaded videos.
            Each video is first cut into a randomly selected interval between 3-12 seconds.
            The clip is then modified by a series of (you guessed it) random effects made available by MoviePy.
            Next, the clips are decorated by adding “screens,” pictures, gifs, and sound effects.
        </p>

        <p id="paragraph-wrapper">
            The “screens” are resized and rotated versions of the initial clip.
            Each screen is once again sent through the modification process so that no two screens are alike.
            Finally, coordinates are generated and the screen is slapped onto the initial clip.
            The number of screens attached to a clip is randomly selected within a defined range.
        </p>

        <p id="paragraph-wrapper">
            Similarly, each gif and picture is resized then, with coordinates randomly generated, haphazardly slapped onto the initial clip, which creates the collage-style look.
            The sound effects, however, are fitted to the length of the clip and overlaid across the clips original audio, creating a composition of mangled sound.
        </p>

        <p id="paragraph-wrapper">
            Finally, when all the videos have been cut into clips and decorated, they are combined into a single video and the intro is created.
            The resulting video is then downloaded as an mp4 file.
        </p>

        <h4 id="sm-segment-header">Phase III - Upload</h4>

        <p id="paragraph-wrapper">
            Before the upload process can begin, the script determines the size of the newly generated video.
            Then, it creates a thumbnail and description for the video.
            Once these processes are complete, the video is uploaded to YouTube.
        </p>

        <h4 id="sm-segment-header">Phase IV - Clean Up</h4>

        <p id="paragraph-wrapper">
            Lastly, the downloaded content (including the newly generated video) are removed from the system and the process is ready to begin again!
        </p>

    </article>

</body>
</html>
{% endblock %}